
Allegati/
desktop.ini
populating database pycharm/instantclient-basic-nt-19.8.0.0.0dbru/
populating database pycharm/.idea/
populating database pycharm/venv/
populating database pycharm/__pycache__/
Presentazione senza titolo.gslides
search_engine_DBA/.metadata
search_engine_DBA/.recommenders
search_engine_DBA/apache-tomcat-8.5.59
search_engine_DBA/RemoteSystemsTempFiles
search_engine_DBA/Servers
*.gdoc
